 body{
	background-color:#222020;
	overflow-x: hidden;
 }


nav li /*Home,Contato,Produtos*/
{
	display: inline;
    margin: 0 0 0 15px;
}
nav a
{
	text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav ul
{
	display: inline;
	position: relative;
    left: 144px;
    top: -131px;
}

#centralizado{
	text-align: center;
	color: #000000;
	text-align: center;
	color: #737272;
}
#centralizado {
	text-align: center;
	color: #737272;
}

#banner {
	width: 100%;
}

p {
	text-align: center; 
  }

#missao {
	font-size: 20px;
}

em strong {
	color: darkblue;
}

.itens {
	font-style: italic;
}

.principal {
	background: #737272;
	padding: 20px;
	border-radius: 20px;
}

.titulo-principal {
	padding-left: 20px;
	background-color: #737272;
	border-radius: 100px;
}

.beneficios {
	background: #737272;
	padding: 20px
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
}

.imgenbeneficios {
	width: 50%;
}
ul li{
	color: #737272;
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: #222020;
    border-radius: 20px color(white);
}
::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border-radius: 50px;
    border: #fefefe 2px;
}
